body {
    font-family:Ubuntu,sans-serif;
    font-size:14px;
    color:#333;
}

a {
    color:#333;
    text-decoration:none;
}

a:hover {
    color:#E52D37;
}

hr {
    border: 0;
    border-bottom: 1px solid #444;
    margin-bottom: 20px;
}

*:focus, *:active {
    outline:0;
}

#container {
    width:960px;
    margin: 0 auto;
    padding:10px;
}

#mainheader {
    padding:20px;
    overflow:hidden;
}

#mainheader h1,#mainfooter h1 {
    float:left;
}

#mainheader h1 a img, #mainfooter h1 a img {
    width:300px;
}

#mainheader .usersocial {
    float:right;
}

.user {
    float:right;
    font-size:1.286em;
}

.user li {
    display:inline-block;
    margin-left:15px;
}

.user li a {
    text-decoration:none;
}

.user li a:hover {
    text-decoration: underline;
}

.user li a.cart {
    font-weight:700;
}

.user li i {
    margin-right:5px;
}

.sm {
    float:right;
    clear:right;
    margin-top:27px;
}

.sm li {
    display:inline-block;
    font-size:1.25em;
    margin-left:10px;
}

.sm li i.fa-facebook:hover {
    color:#3b5998;
}

.sm li i.fa-twitter:hover {
    color:#55acee;
}

.sm li i.fa-google-plus:hover {
    color:#dc4e41;
}

.sm li i.fa-youtube-play:hover {
    color:#cd201f;
}


#mainnav {
    background-color:#333;
    height:60px;
    line-height:60px;
    padding: 0 20px;
    margin-bottom:20px;

    /* updated 9/21/18 */
    height: auto;
    overflow: hidden;
}

#mainnav ul {
    float:left;
    margin-left: -10px;
}

#mainnav ul li {
    display:inline-block;
    margin-right: -4px;
}

#mainnav ul li a {
    color:#fff;
    text-decoration:none;
    font-size:1.286em;
    font-weight:700;
    display:block;
    padding:0 10px;
}

#mainnav ul li a:hover {
    background-color:#E52D37;
}

#mainnav form {
    float:right;

    /* updated 9/21/18 */
    transform: translateY(5px);
}

#mainnav form input[type="search"] {
    font-size:1.286em;
    font-family:'Ubuntu';
    font-weight:700;
    border:0;
    padding:5px 0;
    background-color:#111;
    width:170px;
    color:#fff;
    outline:0;
    /* updated 9/20/18 */
    padding: 5px 10px;
}

#mainnav form input[type="submit"] {
    width:30px;
    font-size:1.286em;
    font-weight:700;
    border:0;
    padding:5px 0;
    background-color:#111;
    text-indent:-9999px;
    margin-left:-3px;
    background-image:url(../img/site/search.svg);
    background-size: 16px;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}

i.fa-search {
    font-size:1.286em;
    background-color:#111;
    color:#A9A9A9;
    padding:6px;
    padding-top:7px;
    cursor:pointer;
}

i.fa-search:hover{
    color:#fff;
}

#innercontainer {
    float:left;
    width:710px;
    margin-bottom:20px;
    min-height: 920px;

    /* updated 9/21/18 */
    min-height: auto;
}

#landing {
    clear:both;
    height:320px;
    font-size:2em;
    color:#fff;
    font-weight:700;
    border:1px solid #ccc;
    box-shadow:inset 1px 1px #fff, inset -1px -1px #fff;
    background-image:url(../img/site/landing.jpg);
    background-position:-60px;
}

#landing header {
    margin:20px 0 0 20px;
    text-shadow: 0 2px 10px #000;
}

#landing header a {
    display:block;
    text-shadow:0 0 0;
    background-color:#333;
    padding:20px;
    margin-top:40px;
    width:240px;
    color:#fff;
    text-decoration: none;
    text-align:center;
}

#landing header a:hover {
    background-color:#E52D37;
}

.sale {
    margin-top:-1px;
    border:1px solid #ccc;
    overflow:hidden;
    padding:20px;
}

.sale:last-child {
    height:inherit;
}

.sale header {
    font-weight:700;
    text-transform:uppercase;
    display:inline-block;
    margin-bottom:20px;
    width: 100%;
}

.sale header h3 {
    font-size:2em;
    float:left;
}

.sale header h4 {
}

.sale header h4 a {
    font-size:1.286em;
    background-color:#E52D37;
    color:#fff;
    display:inline-block;
    padding:5px;
    margin-left:20px;
}

.sale header h4 a:hover {
    background-color:#333;
}

.sale figure {
    float:left;
    margin-right: 12px;
}

.sale figure img {
    border:1px solid #fff;
    outline:1px solid #ccc;
    float:left;
    margin-right: 10px;
}

.sale figure figcaption {
    float:left;
    width: 160px;
}

.sale figure figcaption p strong {
    font-weight:700;
    display:block;
    margin-bottom:10px;
}

.sale figure figcaption a {
    display:inline-block;
    background-color:#333;
    padding:5px;
    margin-top:20px;
    color:#fff;
    font-weight:700;
    text-decoration: none;
}

.sale figure figcaption a:hover {
    background-color:#E52D37;
}

.sale footer {
    margin-top:20px;
    clear:both;
    float:right;
}

.sale footer a {
    font-style:italic;
    font-weight:700;
}

.sale footer a:hover {
    text-decoration: underline;
}

.sale p {
    margin-bottom:20px;
    line-height:1.286em;
}

.sale p strong {
    font-weight:700;
}

.sale .service {
    margin-bottom:40px;
    margin-right:12px;
}

.sale .service.alt {
    margin-left: 12px;
    margin-right: 0;
}

.sale .service strong {
    font-weight:bold;
    display:block;
    margin-bottom:10px;
}

.sale address {
    line-height: 1.25em;
}

.sale address strong {
    font-weight:700;
}

#latest figure img {
    border:1px solid #ccc;
    float:left;
    margin-right: 10px;
}

#latest figure figcaption {
    float:left;
    width:120px;
}

#categories {
    float:right;
    width:20%;
    background-color:#333;
    color:#fff;
    padding:20px;
    margin-bottom: 20px;
    height: 920px;
    /* updated 9/20/18 */
    height: auto;
}

#categories h2 {
    font-size:1.286em;
    font-weight:700;
    margin-bottom:20px;
}

#categories a {
    color:#fff;
    text-decoration:none;
    display:block;
    padding:10px;
    margin-left:-5px;
}

#categories a:hover {
    background-color:#E52D37;
}

#mainfooter {
    clear:both;
    background-color:#333;
    overflow:hidden;
    padding:20px;
    color:#fff;
    margin-bottom:10px;
}

#mainfooter a {
    color:#fff;
}

#mainfooter form {
    clear:both;
    padding-top:55px;
}

#mainfooter form legend {
    font-weight:700;
    margin-bottom:10px;
}

#mainfooter form input[type='email'] {
    border:0;
    background-color:#111;
    width:220px;
    padding:5px;
    font-family: 'Ubuntu';
    font-size:1em;
    color:#fff;
    margin-right:5px;
}

i.fa-plus {
    background-color:#111;
    color:#A9A9A9;
    padding:6px;
    cursor:pointer;
    margin-left:-8px;
}

i.fa-plus:hover {
    color:#fff;
}

#mainfooter form input[type='submit'] {
    border:0;
    background-color:#111;
    padding:10px;
    font-weight:700;
    font-family: 'Ubuntu';
    font-size:1em;
    color:#fff;
    cursor:pointer;
}

#mainfooter .footerlist {
    float:left;
    margin:0 15px 0 10px;
}

#mainfooter .footerlist:first-child {
    float:left;
    margin-left:0;
    margin-right:30px;
}

#mainfooter .footerlist strong {
    font-weight:bold;
}

#mainfooter .footerlist ul {
    margin-top:20px;
}

#mainfooter .footerlist ul li {
    margin-bottom:5px;
}

#mainfooter .footerlist ul li a {
    display:block;
    padding:5px;
}

#mainfooter .footerlist ul li a:hover {
    background-color:#E52D37;
}

#mainfooter .footerlist p {
    margin-top:20px;
    line-height:1.25em;
}

#mainfooter .footerlist address {
    line-height:1.25em;
}

#mainfooter .footerfoot {
    clear:both;
    padding-top:40px;
}

#mainfooter .footerfoot p {
    width:70%;
    float:left;
}

#mainfooter .footerfoot .smfooter {
    width:30%;
    float:right;
    text-align:right;
}

#mainfooter .footerfoot .smfooter ul li {
    display:inline-block;
    font-size:1.25em;
    margin-left:10px;
}

#mainfooter .footerfoot .smfooter ul li i.fa-facebook:hover {
    color:#3b5998;
}

#mainfooter .footerfoot .smfooter ul li i.fa-twitter:hover {
    color:#55acee;
}

#mainfooter .footerfoot .smfooter ul li i.fa-google-plus:hover {
    color:#dc4e41;
}

#mainfooter .footerfoot .smfooter ul li i.fa-youtube-play:hover {
    color:#cd201f;
}

form.contact fieldset {
    display:block;
    float:left;
    width:140px;
    margin-right:25px;
    margin-bottom:20px;
    //border:1px solid #ccc;
}

form.contact fieldset label{
    display:block;
    font-weight:bold;
    margin-bottom:10px;
}

form.contact fieldset.required label:after {
    content:'*';
    color:#E52D37;
}

form.contact input {
}

form.contact input,select {
    width:98%;
    padding:1%;
}

form.contact fieldset.full {
    width:100%;

}

form.contact fieldset.full textarea {
    width:98%;
    height:100px;
    padding:1%;
    margin:0;
    border-color:#ccc;
}

form.contact fieldset.submitfield input {
    display:block;
    float:right;
    font-size:1.286em;
    font-weight:700;
    background-color:#E52D37;
    color:#fff;
    display:inline-block;
    padding:5px;
    margin-left:20px;
    border:0;
    cursor:pointer;
    width:100px;
}

form.contact fieldset.submitfield input:hover {
    background-color:#333;
}

/* Update 6/18/18 */
#landing {
    background-position: 0 100%;
    background-repeat: no-repeat;
}

#landing header {
    margin: 20px;
}

#landing h2 {
    font-size: 2.5rem;
}

/* updated 9/21/18 */
a[href$="php"]::after {
    content: '*';
    vertical-align: super;
    font-size: 0.5em;
    font-weight: normal;
}

/* updated 9/20/18 */
.twitter-container {
    max-height: 300px;
    overflow: hidden;
}